@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .banner {
    background-color: orange;
    min-height: 100vh;
    background-image: url("./assets/images/banner-img.png");
    background-re
  }
} */

.banner {
  min-height: 100vh;
  background-image: url("./assets/images/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}
