@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .banner {
    min-height: calc(100vh - 108px);
    background-image: url("./assets/images/banner-img.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .required-field::after {
    content: " * ";
    color: #d64343;
  }
}

.about-div {
  background-image: linear-gradient(90deg, #666, white);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
html {
  scroll-behavior: smooth;
}
