@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .banner {
    min-height: calc(100vh - 108px);
    background-image: url("./assets/images/banner-img.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .required-field::after {
    content: " * ";
    color: #d64343;
  }
}

html {
  scroll-behavior: smooth;
}
